<form id="create-new-test">
	<label>{{t "Name"}}</label>
    <div class="form-group">
	<input name="post_title"><span class="help-block hidden"></span>
    </div>
    <div class="form-group">
	<ul>
		{{#each kwpsTestModi}}

            <label for="kwpsTestModi_{{ID}}"><input type="radio" value="{{ID}}" name="post_parent" id="kwpsTestModi_{{ID}}"> {{post_title}}</label>
		{{/each}}

	</ul>            <span class="help-block hidden"></span>

    </div>
	<div>
		<button type="submit">{{t "Create"}}</button>
	</div>
</form>
