<h2>
    {{t "Control panel"}}: {{t testmodus.post_title}}
    {{#if isLive}}
        <span class="label label-warning">{{t "Live!"}}</span>
        <button class="setStatus button button-primary" data-status="locked"> 
            <span class="dashicons dashicons-lock"></span>
             {{t "Lock"}}
        </button> 
        <a href="#" class="setStatus" data-status="draft">unlive</a>
    {{/if}}
    {{#if isDraft}}
        <button class="setStatus button button-primary" data-status="publish">{{t "Make live"}}</button>
    {{/if}}
    {{#if isLocked}}
        <span class="label label-danger">{{t "Locked!"}}</span>
        <button class="setStatus button" data-status="publish">
            unlock
        </button>
    {{/if}}

    <span class="spinner"></span>
</h2>
<div class="test-input">
    <input type="text" name="post_title" id="post_title" value="{{collection.post_title}}" placeholder="{{t "New Test"}}"/>
</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-add">{{t "Builder"}}</a></li>
        <li><a href="#tabs-settings">{{t "Settings"}}</a></li>
    </ul>
    <div id="tabs-add">
        {{> controlTest}}
    </div>
    <div id="tabs-settings">
        {{> settings}}
    </div>
</div>