<tr data-post-type="kwps_version">
    <th class="no-delete column-action">&nbsp;</th>
    {{#each versions}}
        <th class=" column-title top" data-version-id="{{ID}}">
            <div class="column-tab">
                {{#if editable}}
                <input type="text" class="update-version-post-title" name="post_title" value="{{post_title}}">

                {{#if deleteVersion}}
                    <span class="del" data-version-id="{{ID}}">
                    <span data-code="f182" class="dashicons dashicons-trash"></span>
                </span>
                    {{/if}}
                {{else}}
                {{post_title}}
                {{/if}}
            </div>
        </th>
    {{/each}}
    {{#if isDraft}}
    <td class="column-title" style="width:105px;">
        <div class="column-tab">
            <button class="add button" data-post-type="kwps_version">
                <span data-code="f132" class="dashicons dashicons-plus"></span> Version
            </button>
        </div>
    </td>
    {{/if}}
</tr>