<div id="icon-tests" class="icon32"><br/>
</div>

<h2>{{t testmodus.post_title}} {{t "control panel"}}</h2>

<div class="test-input">
    <input type="text" name="post_title" id="post_title" value="{{collection.post_title}}" placeholder="{{t "New Test"}}"/>
</div>

<div id="tabs">
    <ul>
        <li><a href="#tabs-add">{{t "Builder"}}</a></li>
        <li><a href="#tabs-settings">{{t "Settings"}}</a></li>
    </ul>
    <div id="tabs-add">
        {{> controlTest}}
    </div>
    <div id="tabs-settings">
        {{> settings}}
    </div>
</div>