<tr data-post-type="kwps_version">
    <th class="no-delete column-action">&nbsp;</th>
    {{#each versions}}
        <th class=" column-title" data-version-id="{{ID}}">
            <div class="column-tab">
                {{#if editable}}
                <input class="update-version-post-title" name="post_title" value="{{post_title}}">

                {{#if deleteVersion}}
                    <span class="del" data-version-id="{{ID}}">
                    <span data-code="f182" class="dashicons dashicons-trash"></span>
                </span>
                    {{/if}}
                {{else}}
                {{post_title}}
                {{/if}}
                {{#if isLive}}
                    {{t "Live!"}}
                {{else}}
                    <button class="make-live"><span class="dashicons dashicons-rss"></span>{{t "Make live"}}</button>
                {{/if}}
            </div>
        </th>
    {{/each}}
    <td class="column-title" style="width:85px;">
        <div class="column-tab">
            <button class="add button" data-post-type="kwps_version">
                <span data-code="f132" class="dashicons dashicons-plus"></span>
            </button>
        </div>
    </td>
</tr>