<tr class="post-1 type-post title status-publish format-standard hentry category-uncategorized iedit author-self level-0" style="background:#FFB500" data-post-type="{{postType}}" data-sort-order="{{questionSortOrder}}">
    <th class="no-delete row-title" colspan="{{colSpan}}" style=" border-top: #FFBA00; padding: 0px;height: 42px;">
        <div style="width:20px; height: 42px; float:left;">
            <svg x="0px" y="0px" viewBox="0 0 20 42">
                <rect x="0" y="0" fill="#FFFFFF" width="10" height="42"></rect>
                <rect x="10" y="0" fill="#1E8CBE" width="10" height="42"></rect>
            </svg>
        </div>
        <div style="padding: 10px; float:left;">
            {{t title}}
            {{#if add}}
            <button class="button add">
                <span class="dashicons dashicons-plus"></span>
                {{t addText}}
            </button>
            {{/if}}
        </div> 
    </th>
    <th class="no-delete row-title" style="height:20px;">{{number}}</th>
</tr>