<tr>
    <th style="border-top: 1px solid #D6D6D6;">&nbsp;</th>
    {{#each versions}}
        <th style="border-top: 1px solid #D6D6D6;" class="column-title bottom" data-post-id="{{ID}}">
            <div class="column-tab">
                {{t "Shortcode"}}: <code>[kwps_version id={{ID}}]</code>
                    <div>
                        <h3>{{t "Results"}}: </h3>
                        <ul>
                            <li>{{t "View count"}}: {{_kwps_view_count}}</li>
                            <li>{{t "Conversion Rate"}}: {{conversion_rate_percentage}}%</li>
                            <li>{{t "Total Participants"}}: {{total_participants}}</li>
                        </ul>
                    </div>
                    {{#if validation.success}}
                    <div>
                        {{t "Ready to Publish!"}}
                    </div>
                    {{else}}
                    <div>
                        <h3>{{t "Errors"}}: </h3>
                        <ul>
                            {{#each validation.data}}
                                <li>{{t field}}: {{message}}</li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/if}}
                {{#unless isLive}}
                    <span><a href="#" class="clear-entries">{{t "Clear entries"}}</a></span>
                {{/unless}}
            </div>
        </th>
    {{/each}}
    <td style="border-top: 1px solid #D6D6D6;">&nbsp;</td>
</tr>