<tr class="post-1 type-post status-publish format-standard hentry category-uncategorized iedit author-self level-0" style="background:#FFF8E7" data-post-type="{{postType}}" data-sort-order="{{sortOrder}}">
    <td class="column-action" style="border: none; padding: 0px;height: 60px;">
        <div style="width:30px; height: 60px; float:left;">
            <svg x="0px" y="0px" viewBox="0 0 30 60">
                <rect x="0" y="0" fill="#FFFFFF" width="20" height="60"></rect>
                <rect x="20" y="0" fill="#FFBA00" width="10" height="60"></rect>
            </svg>
        </div>
        {{#if sorterArrows}}
        <div class="move">
            <span class="move-action up {{#if first}}disabled{{/if}}"></span>
            <span class="move-action down {{#if last}}disabled{{/if}}"></span>
        </div>
        {{/if}}
        <div class="action" style="padding: 10px; float:left;">
            <a class="delete-answer-option">
                <span class="del">
                    <span data-code="f182" class="dashicons dashicons-trash"></span>
                </span>
            </a>
            {{number}}
        </div>
    </td>
    {{#each versions}}
    <td id="_kwps_answer_option_{{ID}}" class="post-title page-title column-title">
        <strong>
            <a class="row-title" href="#edit/{{ID}}"
               title="{{t "Edit"}}">{{post_content}}</a>
        </strong>

        <div class="actions" style="display: none"><a href="#edit/{{ID}}">edit</a></div>
    </td>
    {{/each}}
    <td>
        &nbsp;
    </td>
</tr>
