<h2>{{t label}}</h2>
<p class="description">
    {{#if parentStack.kwps_version}}
        <b>{{t "version"}} :</b> <i>{{parentStack.kwps_version.post_title}}</i> >
    {{/if}}
    {{#if parentStack.kwps_question_group}}
        <b>{{t "question page"}} :</b> <i>{{parentStack.kwps_question_group.post_title}}</i> >
    {{/if}}
    {{#if parentStack.kwps_question}}
        <b>{{t "question"}} :</b> <i>{{subStringStripper parentStack.kwps_question.post_content 20}}</i> >
    {{/if}} 
</p>
<div id="poststuff"> 
	<form id="update-model">
        {{#if title}}
        <div id="titlediv">
            <div id="titlewrap">
                <label class="screen-reader-text" id="title-prompt-text" for="title">{{t "Enter title here"}}</label>
                <input type="text" name="post_title" size="30" value="{{post_title}}" id="title" autocomplete="off" class="{{#if error_post_title}}error-highlight{{/if}}">
                {{#if error_post_title}}
                <span class="help-block">{{error_post_title}}</span>
                {{/if}}
            </div>
        </div>
        {{/if}}
        <div id="wp-content-editor-tools" class="wp-editor-tools hide-if-no-js">
            <div id="wp-content-media-buttons" class="wp-media-buttons">
                <a href="#" id="add-media-button" class="button insert-media add_media" data-editor="content" title="Add Media">
                <span class="wp-media-buttons-icon"></span> {{t "Add media"}}</a>
                {{#if addResults}}
                    <a href="#" id="add-result-button" class="button insert-media add_media" data-editor="content" title="Add results">
                    <span class="dashicons dashicons-visibility"></span> {{t "Add results"}}</a>
                {{/if}}
                <a href="#" id="add-video-button" class="button insert-media add_video" data-editor="content" title="Add Video">
                <span class="wp-media-buttons-icon"></span> {{t "Add Video"}}</a>
            </div>
        </div>
        <br><br>
        
        <div class="form-group">
            <div id="editor-tiny" class="{{#if error_post_content}}error-highlight{{/if}}">
                <textarea name='post_content' rows="20">{{post_content}}</textarea>
            </div>
            {{#if error_post_content}}
                <span class="help-block">{{error_post_content}}</span>
            {{/if}}
        </div>
        <br>
        <div id="extraSettings" class="postbox  hide-if-js" style="display: block;">
            <h3>{{t "Extra settings"}}</h3>
            <div class="inside">
                <table class="form-table">
                    <tbody>
                        {{#if showValue}}
                        <tr>
                            <th>
                                <label for="_kwps_answer_option_value">{{t "Value"}}</label>
                            </th>
                            <td>
                                <input type="number" name="_kwps_answer_option_value" id="kwps-answer-option-value" value="{{_kwps_answer_option_value}}" class="regular-text {{#if error__kwps_answer_option_value}}error-highlight{{/if}} {{#if disableValue}}disabled{{/if}}"{{#if disableValue}} disabled="disabled"{{/if}}>
                                {{#if error__kwps_answer_option_value}}
                                    <span class="help-block">{{error__kwps_answer_option_value}}</span>
                                {{/if}}
                            </td>
                        </tr>
                        {{/if}}
                        {{#if min_max}}
                        <tr>
                            <th>
                                <label for="_kwps_min_value">{{t "Min value"}}</label>
                            </th>
                            <td>
                                <input type="number" name="_kwps_min_value" id="kwps-answer-option-value" value="{{_kwps_min_value}}" class="{{#if error__kwps_min_value}}error-highlight{{/if}} {{#if disableValue}}disabled{{/if}}" {{#if disableValue}} disabled="disabled"{{/if}}>
                                {{#if error__kwps_min_value}}
                                    <span class="help-block">{{error__kwps_min_value}}</span>
                                {{/if}}
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="_kwps_max_value">{{t "Max value"}}</label>
                            </th>
                            <td>
                                <input type="number" name="_kwps_max_value" id="kwps-answer-option-value" value="{{_kwps_max_value}}" class="{{#if error__kwps_max_value}}error-highlight{{/if}} {{#if disableValue}}disabled{{/if}}" {{#if disableValue}} disabled="disabled"{{/if}}>
                                {{#if error__kwps_min_value}}
                                    <span class="help-block">{{error__kwps_min_value}}</span>
                                {{/if}}
                            </td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
        <p class="submit">
            <button type="submit" class="button button-primary" id="update">{{t "Update"}}</button>
        </p>	
    </form>
</div>
