<div class="ui-tabs-panel-content-wrapper">
    <h2>{{t "Limit entries"}}</h2>
    <p>{{t "Here you can set, who can fill in a test."}}</p>
    <table class="form-table">
        <tbody>
            <tr>
                <th>
                    <label for="kwps_logged_in_user_limit">
                        {{t "Logged in user"}}
                    </label>
                </th>
                <td>
                    <select id="kwps_logged_in_user_limit" name="_kwps_logged_in_user_limit" class="update-main">
                        {{#each kwpsUniquenessTypes.logged_in}}
                        <option value="{{function}}"
                        {{selected this.function ../this.collection._kwps_logged_in_user_limit}} >{{t label}}</option>
                        {{/each}}
                    </select>
                    <p class="description">{{t "How many times can logged in users fill in the test"}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="kwps_logged_out_user_limit">
                        {{t "Anonymous user"}}
                    </label>
                </th>
                <td>
                    <select id="kwps_logged_out_user_limit" name="_kwps_logged_out_user_limit" class="update-main">
                        {{#each kwpsUniquenessTypes.logged_out}}
                        <option value="{{function}}"
                        {{selected this.function ../this.collection._kwps_logged_out_user_limit}} >{{t label}}</option>
                        {{/each}}
                    </select>
                    <p class="description">{{t "How many times can anonymous users fill in the test"}}</p>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="kwps_show_grouping_form">
                        {{t "Show grouping form"}}
                    </label>
                </th>
                <td>
                    <input type="checkbox" id="kwps_show_grouping_form" name="_kwps_show_grouping_form" class="update-main" {{#if collection._kwps_show_grouping_form}} checked {{/if}} />
                    <p class="description">{{t "Show a form so participants can group entries"}}</p>
                </td>
            </tr>
            {{#if collection._kwps_show_grouping_form}}
                <tr>
                    <th>
                        <label>
                            {{t "Grouping results"}}
                        </label>
                    </th>
                    <td>
                        <strong>
                            <a class="row-title" href="#edit/{{collectionOutro.ID}}" title="{{t "Edit"}}">
                                {{subStringStripper collectionOutro.post_title 120}} - {{subStringStripper collectionOutro.post_content 120}}
                            </a>
                        </strong>
                    </td>
                </tr>
            {{/if}}
        </tbody>
    </table>
</div>